body {
    background: radial-gradient(ellipse at bottom, #1b2735, #090a0f 100%);
}

html, body {
    height: 100%;
    overflow-x: hidden;
}

nav {
    background-color: transparent;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
}

section {
    padding: 20px;
}

.noshared {
    color:red;
}

.button {
    margin: 5px;
}

@media(max-width: 1200px) {
    .sidebar{
        background-color: radial-gradient(ellipse at bottom, #1b2735, #090a0f 100%);;
    }
}