body {
    background: radial-gradient(ellipse at bottom, #1b2735, #090a0f 100%);
}

html, body {
    height: 100%;
    overflow-x: hidden;
}

/*Page*/
nav {
    background-color: transparent;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
}


/* navBar */
.color {
    color:gray;
}

.logoutColor {
    color:white;
}



