body {
    height: 100vh;
    background: radial-gradient(ellipse at bottom, #1b2735, #090a0f 100%);
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav {
    background-color: #444;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
}

section {
    padding: 20px;
}

