body {
    background: radial-gradient(ellipse at bottom, #1b2735, #090a0f 100%);
}

html, body {
    height: 100%;
    overflow-x: hidden;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-title, .modal-body{
    color:#090a0f;
}



body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav {
    background-color: #444;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
}

section {
    padding: 20px;
}

form {
    margin: 5%;
}

div, .white-text {
    color: white;
}

.color {
    color:gray;
}

.logoutColor {
    color:white;
}

@media(max-width: 991px) {
    .sidebar{
        background-color: radial-gradient(ellipse at bottom, #1b2735, #090a0f 100%);;
    }
}