body {
    height: 100vh;
    background: radial-gradient(ellipse at bottom, #1b2735, #090a0f 100%);
}



nav {
    background-color: transparent;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
}

section {
    padding: 20px;
}

.color {
    color:gray;
}

.logoutColor {
    color:white;
}

img {
    max-width: 7cm;
}

.card {
    max-width: 10cm;
}

.noinfo{
    color:red;
}
.noshared {
    width: 100vw;
}

@media(max-width: 1200px) {
    .sidebar{
        background-color: radial-gradient(ellipse at bottom, #1b2735, #090a0f 100%);;
    }
}

