body {
    background: radial-gradient(ellipse at bottom, #1b2735, #090a0f 100%);
}

html, body {
    height: 100%;
    margin: 0;
}

/*Page*/
nav {
    background-color: transparent;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
}

section {
    padding: 20px;
}

/* navBar */
.color {
    color:gray;
}

.logoutColor {
    color:white;
}

/*Cads*/
.desciption{
    max-height: 3.6em; 
    overflow: hidden;   
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
}
.card {
    max-width: 20cm;
}

.cardPlace {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    max-height: 7cm;
    max-width: 7cm;
}

.noinfo{
    color:red;
}

@media(max-width: 1200px) {
    .card{
        width: 9cm;
    }

    .sidebar{
        background-color: radial-gradient(ellipse at bottom, #1b2735, #090a0f 100%);;
    }
}